
@import './lib/layout.scss';
@import './lib/colors.scss';

//basic layout
$bg-base: #fcfcf8;

*, *::before, *::after {
  box-sizing: border-box;
}

.std-container {
  @extend %container;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr 4rem;
    min-height: 100vh;
    & > .live-view-container main {
      height: 100%;
      display: grid;
      grid-template-columns: minmax(2rem, 1fr) [content] minmax(600px, calc(1200px - 4rem)) minmax(2rem, 1fr);
      grid-template-rows: min-content 1fr;
      .flashes {
        grid-column: content;
      }
      .live-view-root {
        grid-column: content;
        display: flex;
        flex-direction: column;
      }
    }
}

// Typography

html {
    font-size: 18px;
    color: $textColor;
    text-rendering: optimizeLegibility;
    background: $bg-base;
}

p {
    max-width: 50ch;
}

body {
  margin: 0;
  font-family: jakarta;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  max-width: 25ch;
}

h3.sc {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

h2.sc {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

// Header and navigation
.main-header {
    padding: 2rem;
    background: #fffff9;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    display: flex;
    nav {
      margin-left: auto;
    }
    

    .brand {
        font-weight: 700;
        font-size: 14px;
    }
}

a {
    color: $textColor;
    text-decoration: none;
}

.hidden {
  display: none !important;
}

// font utility classes

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

// bg utility
.bg-base {
  background: $bg-base;
}

.bg-white {
  background: white;
}