$base: 'PlusJakartaSans-';

@font-face {
    font-family: jakarta;
    src: url('/fonts/webfonts/#{$base}Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: jakarta;
    src: url('/fonts/webfonts/#{$base}Bold.woff2');
    font-weight: 700;
}


@font-face {
    font-family: jakarta;
    src: url('/fonts/webfonts/#{$base}ExtraBold.woff2');
    font-weight: 900;
}


@font-face {
    font-family: jakarta;
    src: url('/fonts/webfonts/#{$base}Light.woff2');
    font-weight: 300;
}


@font-face {
    font-family: jakarta;
    src: url('/fonts/webfonts/#{$base}Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: jakarta;
    src: url('/fonts/webfonts/#{$base}Italic.woff2');
    font-style: italic;
}