<div class="account-page">
    <h1 class="mt-3">Account page</h1>
    <h3 class="sc mt-05"><%= @user.email %></h3>

    <%= button "Log out", to: CcgWeb.Router.Helpers.account_path(@conn, :logout), class: "btn mt-4" %>
</div>