@import '../lib/colors.scss';
@import '../lib/shadow.scss';

h2.lobby-list-title {
    font-size: 21px;
    border-radius: 0.5rem;
}

#lobby-list {
    .lobby {
        display: block;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 2rem;
        margin-top: 1rem;
        @include basic-shadow(1);
        .lobby-id {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.lobby-users {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 2rem;
    .members-container {
        padding: 2rem;
        background: white;
        box-shadow: 0 2px 3px rgba(0,0,0,0.08);
        #player-list {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 0.5rem;
                font-weight: 500;
            }
        }
    }
    .chat-container {
        padding: 2rem;
        background: white;
        box-shadow: 0 2px 3px rgba(0,0,0,0.08);

        #chat-messages {
            height: 400px;
            overflow-y: scroll;
        }

        .chat-message {
            display: grid;
            grid-column-gap: 1rem;
            grid-row-gap: 0.25rem;
            grid-template-columns: min-content 1fr;
            margin-top: 1.25rem;
            border-left: 0.25rem solid $saffron;
            padding-left: 0.5rem;
            align-items: baseline;
            .msg {
                grid-column: 1 / -1;
                &.system-author {
                    font-style: italic;
                    font-size: 0.8rem;
                }
            }
            .system-message-author {
                color: $burgundy;
                opacity: 0.5;
                font-size: 0.8rem;
            }
            .time {
                font-weight: 300;
                font-size: 0.8rem;
                color: #666;
            }
            .author {
                font-weight: 500;
            }
        }
    }
}