

.simple-form {
    label {
        font-size: 16px;
        font-weight: 700;
    }

    .input-group {
        max-width: 20ch;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        label {
            margin-bottom: 0.5rem;
        }
        input[type="text"], input[type="password"] {
            font-size: 16px;
            font-weight: 500;
            font-family: jakarta;
            outline: 0;
            border: 0;
            border-bottom: 0.25rem solid #333;
            padding-bottom: 0.25rem;
            padding: 0.5rem;
            background: rgba(0,0,0,0.02);
            transition: all 150ms;

            &:focus {
                background: rgb(246, 246, 221);
            }
        }
    }
}