
<div class="index-page">
  <h1>A quick-paced, draftable & constructed card game</h1>
  <p class="hero-body">
    No mana. No retained hand. Engaging gameplay.
  </p>
  <div class="index-choices mt-4">
    <a href={@lobby_path} class="huge-btn mt">
      <div class="btn-text">Browse Lobbies</div>
    </a>
    <a class="huge-btn ml-2">
      <div class="btn-text">Collection</div>
    </a>
  </div>
</div>